*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial,san-serif;
}

header{
    width:100%;
    height:10%;
    background-color:rgb(4, 4, 6);
}


nav{
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
   
}

nav span{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
nav span img{
    width:150px;
    background-color:black;
    padding-left:0px;
    /* mix-blend-mode:multiply; */
}

#logo img, ul li{
    padding:10px 8px 10px 8px;
}
#logo img:hover, ul li:hover{
    border:1px solid white;
    cursor:pointer;
}

#searchBox{
    /* background-color:yellow; */
    width:930px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#searchBox input{
    margin:0px;
    padding: 18px 18px;
    width:100%;
    font-size:large;
    border:none;
    border-radius:7px 0px 0px 7px;
}

#searchIconbtn{
    padding:15.7px 15.8px;
    border:none;
    width:10%;
    border-left:none;
    color:black;
    font-size:large;
    align-content:center;
    box-sizing:border-box;
    background-color:#ffce12;
    border-radius:0px 7px 7px 0px;
    img{
     width:25px;
     font-size:large;
     background-size:cover;
     color:black;
     
    }
}

#dropdown{
    height:50px;
    padding:0px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    background-color:rgba(128, 128, 128, 0.403);
    margin-left:10px;
    border-radius:5px;
    font-size:large;
    position:relative;
}

.langdropdownclassone{
    display:none;
}

.seclangdropdownclass{
    width:150px;
    padding:5px 5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    gap:10px;
    border-radius:5px;
    background-color:rgba(128, 128, 128, 0.634);
    position:absolute;
    top:60px;
}


.ullistclass{
    width:100%;
    height:100%;
    display:block;
    padding:10px;
    color:white;
}

.ullistclass:hover{
    background-color:rgba(21, 19, 19, 0.189);
}

nav ul{
   width:15%;
   display:flex;
   text-decoration:none;
    justify-content:space-between;
    align-items:center;
    color:white;
    list-style-type:none;
    font-size:large;
    font-weight:light;
    li span{
     font-weight:800;
    }
}

#shoppingCart{
    position:relative;
    font-weight:bold;
    a{
        text-decoration:none;
        color:white;
    }
    #cartquantity{
        position:absolute;
        top:-12;
        left:35;
        font-size:20px;
    }
}


#menubarDiv{
  display:none;
}

#cartquantity{
    color:#f2941b;
}

/* Main Container Starts here....*/
main{
    width:100%;
    padding:60px 30px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    background-color:darkblue;
    row-gap:30px;
}


#CartBox{
    width:350px;
    height:470px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:10px;
    border-radius:5px;
    padding-top:20px;
    padding-bottom:20px;
    h3{
        display:flex;
        align-items:center;
        height:40px;
        font-size:medium;
        align-self:flex-start;
    }
}

#productprice, #productrating{
    align-self:flex-start;
    margin-left:20px; 
}
    
  
#cartimagdiv{
 width:100%;
 height:270px;
 object-fit:contain;
 object-position:center;
 display:flex;
 justify-content:center;
 align-items:center;
 flex:1;
}

#cartDiscription{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:8px;
    flex:1;
}
#cartimagdiv img{
    height:100%;
    border-radius:5px;
}

#addtocartbtn{
        width:90%;
        background-color:#ffce12;
        border:none;
        padding-top:10px;
        padding-bottom:10px;
        border-radius:25px;
        font-weight:bold;
        font-size:medium;
}

#imgName{
    align-self:flex-start;
    margin-left:20px;
}

/*Media Queries of the website starts here.....*/

@media only screen and (Orientation: portrait){
    main{
    background-color:white;
    } 
    #CartBox{
        border:1px solid grey;
    }

    #navleftsession li, #dropDown{
        display:none;
    }

    #searchBox {
        width:60%;
    }

    #menubarDiv{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing:border-box;
        img{
            width:40px;
            height:40px;
            filter: invert(100%);
            align-self:flex-end;
        }
    }
}



