*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    color:black;
    font-family:Arial,sans-serif;
}

nav{
    width:100%;
    height:100px;
    /* background-color:black; */
    
}

#navinnerdiv{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 5%;
    position:sticky;
    border-bottom:1px solid rgba(0, 0, 0, 0.329);
    #logo img{
        width:170px;
    }
    #lockimg img{
        width:40px;
        filter:invert(50%);
    }
    #checkoutText h3{
        font-size:150%;
        .checkoutspan{
            color:#0556bf;
        }
    }
}
main{
    width:100%;
    height:100%;
    display:flex;
}
#cartitemsdiv{
    width:60%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:column;
    padding-top:40px;
    gap:1rem;
    .innerdivcartitem{
        width:92%;
        border:1px solid grey;
         border-radius:5px;
         display:flex;
         justify-content:center;
         align-items:center;
         padding:20px;
         .innerimgcart{
            width:100%;
            height:100%;
            display:flex;
            align-items:center;
            flex-direction:column;
            box-sizing:border-box;
            gap:20px;
            h1{
                align-self:flex-start;
                color:green;
            }
            #parentdivofdescription{
                /* width:100%; */
                height:100%;
                display:flex;
                justify-content:space-between;
                align-items:center;
                gap:30px;
            
              #cartdescriptionimg{
                width:300px;
                height:300px;
                overflow:hidden;
                display:flex;
                justify-content:center;
                align-items:center;
                img{
                    width:100%;
                    height:100%;
                    object-fit:contain;
                }
            }
            .cartdescription{
                
                height:100%;
                display:flex;
                justify-content:center;
                flex-direction:column;
                align-items:flex-start;
                font-size:120%;
                gap:5px;
                /* margin-left:10%; */
                .pricespan{
                    color:rgb(188, 18, 18);
                    font-weight:bold;
                }
                #quantitydiv{
                    display:flex;
                    gap:10px;
                    a{
                        color:rgb(31, 172, 220);
                        text-decoration:none;
                    }
                    .QuantityText{
                        display:flex;
                        gap:10px;
                        /* .deleteLink{
                             background-color:transparent;
                            border:none;
                            color:rgb(31, 172, 220);
                            font-size:Medium; */
                        /* } */
                        .updateinput{
                            width:50px;
                            height:30px;
                            text-align:center;
                            font-size:medium;
                        }

                        
                    }
                    button{
                            background-color:transparent;
                            border:none;
                            color:rgb(31, 172, 220);
                            font-size:1.1rem;
                    }

                    button:hover{
                            color:red;
                        }
                }
                #quantitydiv a:hover{
                     color:red;
                }
            }
        }
           
    }
   
}
}

#deliveryoptiondiv{
            width:50%;
            line-height:30px;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            gap:10px;
            .dateoption{
                width:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                gap:10px;
                font-size:medium;
                color:green;
                font-weight:bold;
                input[type='radio']{
                    transform:scale(1.8);
                    margin-right:10px;
                }
                label{
                    color:green;
                    height:10%;
                    /* gap:0px; */
                    p{
                        font-size:small;
                        color:grey;
                    }
                }
            }
        }

aside{
    width:40%;
    height:50%;
    padding-top:40px;
   
}

#cartpricecalculatediv{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-left:30px;
    div{
        width:90%;
        height:450px;
        border:1px solid grey;
        border-radius:5px;
    }
}